* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
  color: greenyellow;
  margin: 10px 0;
}
h1::before {
  content: "After";
  color: coral;
  margin-right: 10px;
}
h1::after {
  content: "Before";
  color: coral;
  margin-left: 10px;
}
.mydiv {
  width: 400px;
  height: 200px;
  background-color: blueviolet;
  margin: 0 auto;
  font-size: 18px;

  padding: 10px;
}
.mydiv::before {
  content: "First";
  color: rgb(45, 194, 107);
  font-size: 28px;
}
.mydiv::after {
  content: "Last";
  color: rgb(224, 21, 207);
  font-size: 28px;
}
.button {
  text-decoration: none;
  display: block;
  margin: 20px auto;
  text-align: center;
}
.content {
  color: #fff;
  background-color: rgb(110, 110, 110);
  padding: 10px;
  border-radius: 5px;
  position: relative;
  z-index: 9;
  display: inline-block;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.content:hover {
  background: none;
}
.content::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: cadetblue;
  top: 0;
  left: -50%;
  transition: all 0.3s ease-in-out;
  z-index: -9;
}
.button:hover .content::before {
  left: 0;
}
.content::after {
  content: "";
  position: absolute;
  width: 51%;
  height: 100%;
  background-color: cadetblue;
  top: 0;
  right: -50%;
  transition: all 0.3s ease-in-out;
  z-index: -9;
}
.button:hover .content::after {
  right: 0;
}
#sticker {
  padding: 10px;
  width: 100%;
  background-color: darkcyan;
  color: #fff;
}
.stick {
  position: fixed;
  top: 0px;
  z-index: 9999999999;
}
.socialmedia {
  background-color: rgba(255, 228, 196, 0.363);
  width: 50px;
  position: fixed;
  z-index: 99999;
  top: 25%;
  right: 0;
  border-radius: 20px 0 0 20px;
  /* padding: 10px; */
}
.icon {
  padding: 5px 10px;
}
img {
  width: 30px;
  height: 40px;
}
.icon:hover {
  background-color: bisque;
}
