/* @import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,400&family=Roboto+Mono:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

@font-face {
  font-family: "ZillaSlab-Regular";
  src: url(/assets/fonts/ZillaSlab-Regular.eot) format("eot"),
    url(/assets/fonts/ZillaSlab-Regular.otf) format("otf"),
    url(/assets/fonts/ZillaSlab-Regular.svg#ZillaSlab-Regular) format("svg"),
    url(/assets/fonts/ZillaSlab-Regular.woff) format("woff"),
    url(/assets/fonts/ZillaSlab-Regular.ttf) format("ttf");
}
body {
  margin: 0;
  padding: 0;
  /* font-family: "Source Code Pro", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01px; */
}
#wrapper {
  margin: 0;
  padding: 0;
  width: 1200px;
  margin: 0 auto;
}
#menu {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01px;
  padding: 0;
  width: 1200px;
  list-style-type: none;
  background-color: #5f5f5f;
  box-shadow: 0px 0px 5px #5f5f5f;
  box-shadow: 0px 2px 5px #5f5f5f;
  /* margin: 0 auto; */
  /* border-bottom: 3px solid #00aeff; */
  min-height: 54px;
}
#menu li {
  float: left;
  position: relative;
  /* border-right: 1px solid #383838;
  border-left: 1px solid #888888; */
}
/* #menu li:last-child {
  border-right: none;
} */
#menu li a {
  font-size: 32x;
  padding: 15px;
  text-decoration: none;
  color: #f0f0f0;
  display: block;
  /* transition: all 0.3s ease; */
}
#menu li a:hover {
  color: #00afff;
  background-color: #000000;
  border-bottom: 3px solid #00aeff;
}
#menu li a:active {
  background-color: #00afff;
  color: #ffffff;
  /* background-color: #151515;
  border-bottom: 3px solid #00aeff; */
}
/* #menu li a:visited {
  background-color: #00afff;
  color: #ffffff;
} */
#para {
  width: 1200px;
  margin-top: 20px;
  color: #151515;
  font-family: "ZillaSlab-Regular";
  /* font-family: "Source Code Pro", monospace; */
  font-weight: 300;
  font-size: 18px;
}
#para a {
  text-decoration: none;
  color: #00afff;
}
#para a:hover {
  text-decoration: underline;
}
#menu input[type="text"] {
  width: 200px;
  border: none;
  font-size: 17px;
  /* border: 1px solid #4e4e4e; */
  border-radius: 5px 0 0 5px;
  background: #525252;
  color: #f0f0f0;
  margin-top: 11px;
  float: left;
  padding: 6px;
  padding-left: 10px;
  margin-left: 300px;
}
::placeholder {
  color: #808080;
  font-family: "Source Code Pro", sans-serif;
  /* text-align: center; */
}
/*
#search {
  margin-top: 11px;
  font-size: 16px;
  float: left;
  padding: 6px 10px;
  border-radius: 0 5px 5px 0;
  /* margin-left: -1px; */
/* border: 1px solid #f0f0f0; */
/*background: #4e4e4e;
  color: #f0f0f0;
 } 
 */
#triangle {
  width: 0px;
  height: 0px;
  float: right;
  margin-left: 6px;
  margin-top: 9px;
  border-top: 7px solid #f0f0f0;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid transparent;
}
#subMenu {
  width: 145px;
  list-style-type: none;
  padding: 0px;
  position: absolute;
  left: -4999px;
}
#subMenu li {
  float: none;
  background-color: #5f5f5f;
  border-top: 1px solid #4e4e4e;
}
#menu li:hover #subMenu {
  left: 0px;
}
#menu li:hover #triangle {
  border-top: 7px solid #00afff;
}
.fa-search {
  float: right;
  margin-top: 11px;
  padding: 5.5px 10px;
  border-radius: 0 5px 5px 0;
  margin-right: 21.3px;
  border: 2px solid #525252;
  color: #f0f0f0;
}
#menu li #subMenu2 {
  width: 130px;
  list-style: none;
  position: absolute;
  top: -4999px;
}
#subMenu li:hover #subMenu2 {
  top: 0px;
  left: 105px;
}
